{% extends "shop/base.html" %}
{% load static %}

{% block page_title %}TopShop | Все товары{% endblock page_title %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'shop/css/pages/product_list.css' %}">
  <link rel="stylesheet" href="{% static 'shop/css/includes/product_container.css' %}">
{% endblock styles %}

{% block page_content %}
  <h1>Наши товары</h1>
    <ul>
      {% for product in products %}
        {% include 'shop/includes/product_container.html' %}
      {% empty %}
      <div>Товаров пока нет.</div>
      {% endfor %}
    </ul>
{% endblock page_content %}