{% extends "shop/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block page_title %}
  TopShop | Личный кабинет
{% endblock page_title %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'users/css/pages/profile.css' %}">
  <link rel="stylesheet" href="{% static 'shop/css/includes/product_container.css' %}">
{% endblock styles %}

{% block page_content %}
  <form method="POST">
    {% csrf_token %}

  <div class="profile-container">
    <h1>Личный кабинет пользователя</h1>
    <p><strong>Логин:</strong> {{ profile_user.username }}</p>
    <p><strong>Email:</strong> {{ profile_user.email }}</p>
    <p><strong>Имя:</strong> {{ profile_user.first_name }}</p>
    <p><strong>Фамилия:</strong> {{ profile_user.last_name }}</p>

    <h2>Товары на продажу</h2>
         {% if products_list %}
        <div class="product-container">
            {% for product in products_list %}
                {% include 'shop/includes/product_container.html' %}
            {% endfor %}
        </div>
    {% else %}
        <p class="mb-4">Этот пользователь еще не добавил ни одного товара.</p>
    {% endif %}
  </div>
{% endblock page_content %}